.container {
  width: 100%;
  height: 600px;

  display: flex;
}

.image {
  position: relative;
  width: 100%;
  height: 600px;
  object-position: center top;
}
.infoLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 600px;

  background-color: black;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.title {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 20px;
}

.description {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 12px;
}
.infoRigth {
  display: flex;
  width: 80%;
  height: 600px;
  object-fit: contain;
}

.mask {
  position: absolute;
  width: 80%;
  height: 600px;
  object-fit: contain;
  background-color: orange;
  background: linear-gradient(90deg, #000, hsla(0, 0%, 100%, 0) 40%);
  z-index: 1;
}
.mask2 {
  position: absolute;
  width: 80%;
  height: 400px;
  object-fit: contain;
  background-color: orange;
  background: linear-gradient(-90deg, #000, hsla(0, 0%, 100%, 0) -80%);
  z-index: 1;
}
