.container {
  width: 191px;
  height: 355px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

.image {
  width: 191px;
  height: 210px;
  display: flex;
  object-position: center top;
  object-fit: cover;
}

.layer {
  border: 4px solid red;
}

.infoName {
  display: flex;
  width: 191px;
  height: 145px;
  object-fit: cover;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  padding-top: 5px;
}

.layer {
  display: flex;
  width: 191px;
  height: 8px;
  background-color: red;
}

.triangleCode {
  position: relative;
  height: 0;
  width: 0;
  border-right: 3px solid transparent;
  border-bottom: 15px solid #151515;
  border-left: 11px solid transparent;
  top: -10px;
  right: -180px;
}
