.container {
  width: 191px;
  height: 355px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 10px;
}

.image {
  width: 191px;
  height: 210px;
  display: flex;
  object-position: center top;
}

.layer {
  border: 4px solid red;
}

.infoName {
  display: flex;
  width: 191px;
  height: 145px;
  object-fit: cover;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  padding-top: 5px;
}
.infoLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 600px;

  background-color: black;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.infoRigth {
  display: flex;
  width: 80%;
  height: 600px;
  /* object-position: left bottom; */
}

.layer {
  display: flex;
  width: 191px;
  height: 8px;
  background-color: red;
}

.mask {
  position: absolute;
  width: 80%;
  height: 600px;
  object-fit: contain;
  background-color: orange;
  background: linear-gradient(90deg, #000, hsla(0, 0%, 100%, 0) 40%);
  z-index: 1;
}
.mask2 {
  position: absolute;
  width: 80%;
  height: 400px;
  object-fit: contain;
  background-color: orange;
  background: linear-gradient(-90deg, #000, hsla(0, 0%, 100%, 0) -80%);
  z-index: 1;
}

.triangleCode {
  position: relative;
  height: 0;
  width: 0;
  border-right: 3px solid transparent;
  border-bottom: 15px solid #151515;
  border-left: 11px solid transparent;
  top: -10px;
  right: -180px;
}
